.chart{
    margin-top: 50px;
    padding: 1rem;
    border-radius: 12px;
    background-color: #f8dFFF;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
}