.expenses-filter{
    color: white;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    }
    
    .expenses-filter__control{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    #select-year{
        border-radius: 10px;
        border: none;
        padding: 10px 18px;
        outline-color: blue;
        font-size: 16px;
        margin: 0.5rem;
        outline: none;
    
    }